# .gitignore
venv/
*.csv
CSV
unused/test.py
unused/quandlVIX.py
unused/s_ch.py
unused/main.py
unused/android.py
#IBconnect.py
unused/strategy.py
#test_data.py
__pycache__/
data/
frontend/node_modules/
frontend/dist/
IntradayData/
Alpaca.Market/
.env
unused/